<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongke.mapper.MemberMapper">

    <select id="analysis" resultType="integer">
        select count(*) from zk_member where register_time between #{startTime} and #{endTime}
    </select>

    <select id="findCountByTime" resultType="integer">
        select count(*) from zk_member where register_time &lt;= #{time}
    </select>

</mapper>