<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongke.mapper.MemberJamMapper">

    <select id="count" parameterType="int" resultType="int">
        select count(*) from zk_member_jam where jam_id = #{jamId}
    </select>
</mapper>