<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongke.mapper.OrderMapper">

    <select id="discountAmountByMerchantId" resultType="BigDecimal">
        select sum(discount) from ${tableName} where merchant_id = #{merchantId} and status = 1 and pay_time &gt;= #{startTime} and pay_time &lt;= #{endTime}
    </select>
    <select id="findTodayTotal_amount" resultType="BigDecimal">
        select sum(order_amount) from ${tableName} where merchant_id = #{merchantId} and status = 1 and pay_time &gt;= #{startTime} and pay_time &lt;= #{endTime}
    </select>
    <select id="findTodayRefund_amount" resultType="BigDecimal">
        select sum(order_amount) from ${tableName} where merchant_id = #{merchantId} and status = -2 and pay_time &gt;= #{startTime} and pay_time &lt;= #{endTime}
    </select>
    <select id="findTodayMerchant_amount" resultType="BigDecimal">
        select sum(order_amount-discount) from ${tableName} where merchant_id = #{merchantId} and status = 1 and pay_time &gt;= #{startTime} and pay_time &lt;= #{endTime}
    </select>
    <!--<select id="findTodayReceivedRefund_amount" resultType="BigDecimal">
        select count(order_amount) from ${tableName} where merchant_id = #{merchantId} and status = 1 and pay_time &gt;= #{startTime} and pay_time &lt;= #{endTime}
    </select>-->
    <!--<select id="findTodayKeReceived_amount" resultType="BigDecimal">
        select count(order_amount) from ${tableName} where merchant_id = #{merchantId} and status = 1 and pay_time &gt;= #{startTime} and pay_time &lt;= #{endTime}
    </select>-->
    <select id="findOrderCount" resultType="BigDecimal">
        select count(id) from ${tableName} where merchant_id = #{merchantId} and status = 1 and pay_time &gt;= #{startTime} and pay_time &lt;= #{endTime}
    </select>
    <select id="findTodayOtherDiscount" resultType="BigDecimal">
        select sum(discount) from ${tableName} where merchant_id = #{merchantId} and status = 1
    </select>
    <select id="findTodayRefundCount" resultType="BigDecimal">
        select count(id) from ${tableName} where merchant_id = #{merchantId} and status = -2 and pay_time &gt;= #{startTime} and pay_time &lt;= #{endTime}
    </select>
    <select id="findCount" parameterType="string" resultType="int">
        select count(id) from ${orderName}
    </select>
    <select id="totalAmountByMerchantId" resultType="BigDecimal">
        select ifnull(sum(order_amount),0) from ${orderTableName} where status = 1 and pay_time &gt;= #{startTime} and pay_time &lt;= #{endTime} and merchant_id = #{merchantId}
    </select>
    <select id="refundAmountByMerchantId" resultType="BigDecimal">
        select ifnull(sum(order_amount),0) from ${orderTableName} where status = -2 and pay_time &gt;= #{startTime} and pay_time &lt;= #{endTime} and merchant_id = #{merchantId}
    </select>
    <select id="cancelAmountByMerchantId" resultType="BigDecimal">
        select ifnull(sum(order_amount),0) from ${orderTableName} where status = -1 and pay_time &gt;= #{startTime} and pay_time &lt;= #{endTime} and merchant_id = #{merchantId}
    </select>
    <select id="transactionNumberByMerchantId" resultType="BigDecimal">
        select count(id) from ${orderTableName} where pay_time &gt;= #{startTime} and pay_time &lt;= #{endTime} and merchant_id = #{merchantId}
    </select>
    <select id="refundNumberByMerchantId" resultType="BigDecimal">
        select count(id) from ${orderTableName} where status = -2 pay_time &gt;= #{startTime} and pay_time &lt;= #{endTime} and merchant_id = #{merchantId}
    </select>
    <insert id="saveOrderToNewTableName" parameterType="order">
        insert into ${tableNewName} (order_id,order_amount,buyer_logon_id,buyer_user_id,status,code,msg,sub_code,sub_msg,pay_method,pay_aisle,actually_paid,discount,transaction_id,fund_channel,refund_buyer_amount,refund_discount_amount,refund_mdiscount_amount,device_id,member_id,member_name,cashier_id,cashier_name,store_name,updatetime,createtime,pay_time)values(#{orderId},#{orderAmount},#{buyerLogonId},#{buyerUserId},#{status},#{code},#{msg},#{subCode},#{subMsg},#{payMethod},#{payAisle},#{actuallyPaid},#{discount},#{transactionId},#{fundChannel},#{refundBuyerAmount},#{refundDiscountAmount},#{refundMdiscountAmount},#{deviceId},#{memberId},#{memberName},#{cashierId},#{cashierName},#{storeName},#{updatetime},#{createTime},#{payTime})

    </insert>
    <select id="findDeviceIdByOutTradeNo" parameterType="string" resultType="integer">
        select device_id from zk_order where order_id = #{orderid}
    </select>

    <select id="findOrderByOrderId" parameterType="string" resultType="order">
        select * from zk_order where order_id = #{orderId}
    </select>

    <select id="findByDeviceIdAndTime" resultType="order">
        select * from zk_order where device_id = #{id}
            <if test="startTime != null and startTime != ''">
                and createtime &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and createtime &lt;= #{endTime}
            </if>
    </select>

    <select id="findConsumByMemberId" parameterType="int" resultType="java.math.BigDecimal">
        select actually_paid from zk_member_grade where member_id = #{id} and status = 1 order by pay_time desc limit 1
    </select>

    <select id="findOrderNum" parameterType="order" resultType="integer">
        select count(id) from zk_order
        <where>
            <if test="deviceId != null">
                and device_id = #{deviceId}
            </if>
            <if test="orderId != null">
                and order_id = #{orderId}
            </if>
            <if test="startTime != null and startTime != ''">
                and createtime &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and createtime &lt;= #{endTime}
            </if>
        </where>
    </select>

    <select id="orderMoney" parameterType="order" resultType="integer">
        select sum(order_amount) from zk_order
        <where>
            <if test="deviceId != null">
                and device_id = #{deviceId}
            </if>
            <if test="orderId != null">
                and order_id = #{orderId}
            </if>
            <if test="startTime != null and startTime != ''">
                and createtime &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and createtime &lt;= #{endTime}
            </if>
        </where>
    </select>

    <select id="refundMoney" parameterType="order" resultType="integer">
        select sum(order_amount) from zk_order where status = -2
        <if test="deviceId != null">
            and device_id = #{deviceId}
        </if>
        <if test="orderId != null">
            and order_id = #{orderId}
        </if>
        <if test="startTime != null and startTime != ''">
            and createtime &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and createtime &lt;= #{endTime}
        </if>
    </select>

    <select id="realMoney" parameterType="order" resultType="integer">
        select sum(actually_paid) from zk_order where status = 1
        <if test="deviceId != null">
            and device_id = #{deviceId}
        </if>
        <if test="orderId != null">
            and order_id = #{orderId}
        </if>
        <if test="startTime != null and startTime != ''">
            and createtime &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and createtime &lt;= #{endTime}
        </if>
    </select>

    <select id="discountMoney" parameterType="order" resultType="integer">
        select sum(discount) from zk_order where status = 1
        <if test="deviceId != null">
            and device_id = #{deviceId}
        </if>
        <if test="orderId != null">
            and order_id = #{orderId}
        </if>
        <if test="startTime != null and startTime != ''">
            and createtime &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and createtime &lt;= #{endTime}
        </if>
    </select>

    <select id="findSpuOrders" resultType="order">
        select store_name,order_id,pay_time,order_amount,actually_paid,pay_method from order where status = 1
        <if test="storeOrOrder != null and storeOrOrder != '' ">
            and (store_name = #{storeOrOrder} or order_id = #{storeOrOrder})
        </if>
        <if test="startTime != null and startTime != ''">
            and pay_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and pay_time &lt;= #{endTime}
        </if>
        <if test="payMethod != null and payMethod != ''">
            and payMethod = #{payMethod}
        </if>

    </select>

    <select id="findOne" parameterType="string" resultType="order">
        select store_name,order_id,pay_time,pay_method,member_id from order where order_id = #{orderId}
    </select>

    <select id="findOrdersByDeviceId" parameterType="int" resultType="order">
        select o.* from zk_order o where device_id = #{deviceId}
    </select>

    <select id="merchantPaidMoney" resultType="BigDecimal">
        select ifnull(sum(actually_paid),0) from zk_order where status = 1 and pay_time &gt;= #{payStartTime} and pay_time &lt;= #{payEndTime} and device_id = #{deviceId}
    </select>

    <select id="retreatMoney" resultType="BigDecimal">
        select ifnull(sum(actually_paid),0) from zk_order where status = -2 and pay_time &gt;= #{payStartTime} and pay_time &lt;= #{payEndTime} and device_id = #{deviceId}
    </select>

    <select id="actuallyPaidMoney" resultType="BigDecimal">
        select ifnull(sum(actually_paid),0) from zk_order where status = 1 and pay_time &gt;= #{payStartTime} and pay_time &lt;= #{payEndTime} and device_id = #{deviceId}
    </select>

    <select id="orderTotal" resultType="integer">
        select count(id) from zk_order where status = 1 and pay_time &gt;= #{payStartTime} and pay_time &lt;= #{payEndTime} and device_id = #{deviceId}
    </select>

    <select id="orderTotalMoney" resultType="BigDecimal">
        select ifnull(sum(order_amount),0) from zk_order where status = 1 and pay_time &gt;= #{payStartTime} and pay_time &lt;= #{payEndTime} and device_id = #{deviceId}
    </select>

    <select id="merchantDiscount" resultType="BigDecimal">
        select ifnull(sum(discount),0) from zk_order where status = 1 and pay_time &gt;= #{payStartTime} and pay_time &lt;= #{payEndTime} and device_id = #{deviceId}
    </select>

    <!--<select id="otherDiscount" resultType="BigDecimal">

    </select>-->

    <select id="refundOrderCount" resultType="integer">
        select count(id) from zk_order where status = -2 and pay_time &gt;= #{payStartTime} and pay_time &lt;= #{payEndTime} and device_id = #{deviceId}
    </select>

    <select id="refundOrderMoney" resultType="BigDecimal">
        select ifnull(sum(order_amount),0) from zk_order where status = -2 and pay_time &gt;= #{payStartTime} and pay_time &lt;= #{payEndTime} and device_id = #{deviceId}
    </select>

    <select id="effectiveOrderNum" resultType="integer">
        select count(id) from zk_order where (status = -2 or status = 1) and pay_time &gt;= #{payStartTime} and pay_time &lt;= #{payEndTime} and device_id = #{deviceId}
    </select>

    <select id="effectiveOrderMoney" resultType="BigDecimal">
        select ifnull(sum(order_amount),0) from zk_order where (status = -2 or status = 1) and pay_time &gt;= #{payStartTime} and pay_time &lt;= #{payEndTime} and device_id = #{deviceId}
    </select>

    <select id="findOrdersByStoreId" parameterType="order" resultType="order">
        select o.* from zk_device d ,zk_store s,zk_order o where d.store_id = s.id and o.device_id = d.id
        <if test="orderId != null">
            and o.order_id = #{orderId}
        </if>
        <if test="cashierName != null and cashierName != ''">
            and o.cashier_name = #{cashierName}
        </if>
        <if test="storeName != null and storeName != ''">
            and o.store_name = #{storeName}
        </if>
        <if test="payMethod != null and payMethod != ''">
            and o.pay_method = #{payMethod}
        </if>
        <if test="status != null">
            and o.status = #{status}
        </if>
        <if test="startTime != null and startTime != ''">
            and o.createtime &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and o.createtime &lt;= #{endTime}
        </if>
    </select>
</mapper>