<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongke.mapper.PlatformUserMapper">
    <select id="findByPlatformUserName" parameterType="string" resultMap="platformUserMap">
        select p.* from zk_platform_user p where name = #{platformUserName}

    </select>
    <!--<resultMap id="platformUserMap" type="com.zhongke.pojo.PlatformUser">
        <id column="id" property="id"></id>
        <collection property="role" column="id" select="com.zhongke.mapper.RoleMapper.findRoleByPlatformUserId"></collection>
    </resultMap>-->
    <resultMap id="platformUserMap" type="com.zhongke.pojo.PlatformUser">
        <id column="id" property="id"></id>
        <association property="role" column="roleName" select="com.zhongke.mapper.RoleMapper.findRoleByRoleName"></association>
    </resultMap>

    <select id="selectAllByExample" resultType="platformUser">
        select id,name,nickname,store_name,sex,tel,role_name,status from zk_platform_user
        <where>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="tel != null and tel != ''">
                and tel = #{tel}
            </if>
        </where>
    </select>
</mapper>